
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&family=Caprasimo&family=Roboto:wght@400;700&display=swap');


#logo {
   max-width: 50%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

body {
    background-image: url("/images/9.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: rgb(192, 1, 1);
    text-align: center;
    color: #cc2525;
	font-family: 'Bowlby One SC', cursive;
	text-shadow: -1px -1px 0 #0f6604, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: 20;
	font-size: calc(8px + 2vw);
    max
	line-height: 1.65;
}

#content {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

ul {
    list-style-type: none;
}